.contact_main{}
.contact_main .main{width: 1100px;margin: 0 auto;text-align: center;padding: 0px 50px 100px;}
.contact_main .main h2{color: #666666;font-size: 30px;margin-bottom: 20px;}
.contact_main .main span{color: #666666;font-size: 14px;margin-bottom: 80px;display: block;}
.contact_main .main p{color: #666666;font-size: 14px;text-align: justify;line-height: 24px;}
.contact_main .main img{margin:0 auto ; margin-top: 50px; position: relative;}
.contact_main .main .text{width: 325px;height: 112px; position: absolute;top: 1609px;left:140px;}
.contact_main .main .text h3{font-size: 30px;color: #FFFFFF;height: 30px;line-height: 30px;}
.contact_main .main .text b{font-size: 16px;color: #FFFFFF;margin-top: 10px;position: relative;}
.contact_main .main .text b:before{content: ""; display: block; width: 60px;border: 1px solid #FFFFFF;position: absolute;left: -67px;top: 9px;}
.contact_main .main .text b:after{content: ""; display: block;border: 1px solid #FFFFFF;width: 60px;position: absolute;left: 148px; top: 9px;}
.contact_main .main .text i{color: #FFFFFF;font-size: 12px;margin-top: 10px;}
